<ul>
    
    <li><a href="Soulstones_07_FairyIce_V1-5-3.rxdata">Lillie (Fairy Ice)</a></li>
    <li><a href="Soulstones_08_DarkElectric_V1-5-3">Someone (Dark Electric)</a></li>
    <li><a href="Soulstones_09_NormalFighting_V1-5-3.rxdata">Vivi (Normal Fighting)</a></li>
    <li><a href="Soulstones_10_GroundRock_V1-5-3.rxdata">Broke (Rock Ground)</a></li>
    <li><a href="Soulstones_11_GrassPoison_V1-5-3.rxdata">Erika (Grass Poison)</a></li>
    <li><a href="Soulstones_12_WaterDragon_V1-5-3.rxdata">Claire (Water Dragon)</a></li>
    <li><a href="Soulstones_13_BugFlying_V1-5-x.rxdata">Zerus (Bug Flying)</a></li>
    <li><a href="Soulstones_14_FireGhost_V1-5-4.rxdata">Acerola (Fire Ghost)</a></li>
    <li><a href="Soulstones_15_SteelPsychic_V1-5-4.rxdata">SquonK (Steel Psychic)</a></li>
</ul>

<pre>
Ranking	Run #					
1         9        Steel / Psychic     03:00:26	   Metagross  Beldum	
2         3        Normal / Fighting   03:08:56	   Alakazam   Alakazam	
3         2        Dark / Electric     03:27:54	   Gyarados   	
4         6        Water / Dragon      03:36:44	   Gastrodon  Kingdra	
5         7        Bug / Flying        03:37:11	   Ledian     Butterfree  Scyther
6         4        Ground / Rock       04:08:22	   Kingler    Rhydon      Rhyperior
7         1        Ice / Fairy         04:25:15    Venusaur   Ninetales	
8         8        Fire / Ghost        04:28:07	   Rapidash   Chandelure  Dusknoir
9         5        Grass / Poison      05:04:19	   Venusaur   Victreebel  Venusaur
</pre>
